/* PK variables */
$theme-color: #0984e3;
$text-color: #2d3436;
$text-color-secondary: #373d3f;
$text-grey: #d63031;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #f5f5f5;
$heart: #fb866a;
